<div class="container-fluid w-100 work text-white">
  <div class="row h-100">
    <div class="col-5 bg-white pastry-1">
      <p class="work-paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
        consequatur magni delectus porro tenetur magnam in quibusdam sequi
        fugiat nesciunt!
      </p>
    </div>
    <div class="col-7">
      <h1 class="title">HOW WE WORK</h1>
    </div>
  </div>
  <div class="pastry-2">
    <div class="pastry-3">
      <img src="../../assets/bakery-2.jpg" alt="" />
      <img src="../../assets/bakery-3.jpg" alt="" />
      <img src="../../assets/bakery-4.jpg" alt="" />
      <img src="../../assets/bakery-5.jpg" alt="" />
    </div>
    <div class="d-flex align-items-center justify-content-center m-2">
      <button class="btn button text-white">CONTACT US</button>
    </div>
  </div>
</div>
