<div class="container-fluid w-100 all-recipes bg-white">
  <div class="h-100 d-flex justify-content-center flex-column">
    <div class="text-center">
      <h1 class="title">RECIPES</h1>
    </div>
    <div class="recipes-list">
      <div *ngFor="let recipe of recipeList">
        <div class="recipe-frame">
          <img class="recipe" [src]="recipe.strMealThumb" alt="" />
          <div class="p-3">
            <p class="recipe-name">{{ recipe.strMeal }}</p>
            <p>{{ recipe.idMeal }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center mb-4">
      <button class="btn button text-white">CONTACT US</button>
    </div>
  </div>
</div>



